@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/bg.jpg) no-repeat center center/ cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}   

.container {
    background-color: #c9d87e;
    width: clamp(300px, 65vw, 900px);
    padding: 30px;
    border-radius: 30px;
}

.container .container_h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.container .container_content .question {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 2px solid #000;
    position: relative;
}

.container .container_content .question::after {
    content: '+';
    position: absolute;
    right: -5px;
}

.container .container_content .answer {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    /* Used to hide overflows  */
    overflow: hidden;
    transition: .5s;
}

.container .container_content.active .answer {
    height: auto;
}

.container .container_content.active .question {
    font-size: 1rem;
    transition: .5s;
}

.container .container_content.active .question::after {
    content: '-';
    font-size: 1.4rem;
    transition: .5s;
}
